<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BambooBuildPlanRssFeedUrl" value="http://tools-bamboo:8085/rss/createAllBuildsRssFeed.action?feedType=rssAll&amp;buildKey=QUOTE-CI&amp;os_authType=basic"/>
    <add key="BambooUsername" value="build_reader" />
    <add key="BambooPassword" value="password" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>